body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    color: black;
 background-image: url(img/a35e584394bb8cb80fb4250102c4aae2643e0f8fr1-1920-1080v2_uhq.jpg);
    
}

.page {
  
   
    background-size: 100%;
    padding-right: 50px; 
 background-repeat: repeat-x;
    }
.shapka {
    width: 1000px;
    height: 50px;
    background-color: #e0d0d0; 
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    
 padding-top: 10px; 
    
    
  
    
}
.shapkatwo {
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    margin-top: -50px;
}
.log{
    text-decoration: none;
    color: black;
    padding: 2px 10px;
    
    
}
.log:hover {
    text-decoration: underline;
    color: #0baaaa;
}

.search {
    padding: 5px;
    
}
.search:focus {
    outline: 0;
    border: 2px solid #27dbd4;
}
.title { 
   
}
.zagolovok {
    text-align: left;
    color: #a70f0f;
    font-style: italic;
    font-size: 40px;
    padding: 30px 60px;
}
.telo {
    width: 1000px;
        height: 700px;
    background-color: #fff7f7;
    margin: 40px auto;
    padding: 10px 20px;
   
}
.bod {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
    background-color: antiquewhite;    
}
.line {
    width: 400px;
    height: 2px;
    background-color: #f08e0b;
    margin: 10px auto;
}
.films {
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    border: 1px solid red;
    margin: 40px 50px;
    background-image: url(img/%D0%A2%D1%80%D0%BE%D1%8F.jpeg);
    background-size: 500px;
    margin-top: 60px;
}
.aboutfilms {
    
    width: 400px;
    height: 450px;
    background-color: #eae7e7;
    position: absolute;
    right: 240px; 
}
.opisanie {
    color: black;
    padding: 2px 50px;
    padding-bottom: 10px;
}
.next {
width: 1040px;
    height: 100px;
    margin: -110px auto;
    background-color: #fff7f7;
}
.treiler {
    width: 100px;;
    padding: 5px;
    border-color: #0676cf;
    background: #ab1be6;
    color: white;
    margin-left: 10px;
    font-style: italic;
    font-size: 20px;
}
.download{
     width: 500px;;
    padding: 5px;
    border-color: #0676cf;
    background: #ab1be6;
    color: white;
    margin-left: 10px;
    font-style: italic;
    font-size: 20px;
}
